In [1]:
import pandas as pd  #data manipulation 
import numpy as np   #data manipulation 
import matplotlib.pyplot as plt   #data visualization
import seaborn as sns             #data visualization
%matplotlib inline

## Problem Description

Different social organizations are working towards overcoming poverty conditions by providing facilities such as financial aid, infrastructure, education, and healthcare.  

This study will explore the ways to help different social organizations find the families that need social welfare assistance using household features such as education levels of the family members, household size, material of walls, ceilings and floor and thereby help to reduce the poverty.

## Loading the Training Dataset

In [2]:
train = pd.read_csv("train.csv")    #read the traning dataset
train.head(10)                      #displaying first 10 rows from the dataset

,Id,v2a1,hacdor,rooms,hacapo,v14a,refrig,v18q,v18q1,r4h1,...,SQBescolari,SQBage,SQBhogar_total,SQBedjefe,SQBhogar_nin,SQBovercrowding,SQBdependency,SQBmeaned,agesq,Target
0,ID_279628684,190000.0,0,3,0,1,1,0,NaN,0,...,100,1849,1,100,0,1.000000,0.0,100.0,1849,4
1,ID_f29eb3ddd,135000.0,0,4,0,1,1,1,1.0,0,...,144,4489,1,144,0,1.000000,64.0,144.0,4489,4
2,ID_68de51c94,NaN,0,8,0,1,1,0,NaN,0,...,121,8464,1,0,0,0.250000,64.0,121.0,8464,4
3,ID_d671db89c,180000.0,0,5,0,1,1,1,1.0,0,...,81,289,16,121,4,1.777778,1.0,121.0,289,4
4,ID_d56d6f5f5,180000.0,0,5,0,1,1,1,1.0,0,...,121,1369,16,121,4,1.777778,1.0,121.0,1369,4
5,ID_ec05b1a7b,180000.0,0,5,0,1,1,1,1.0,0,...,121,1444,16,121,4,1.777778,1.0,121.0,1444,4
6,ID_e9e0c1100,180000.0,0,5,0,1,1,1,1.0,0,...,4,64,16,121,4,1.777778,1.0,121.0,64,4
7,ID_3e04e571e,130000.0,1,2,0,1,1,0,NaN,0,...,0,49,16,81,4,16.000000,1.0,100.0,49,4
8,ID_1284f8aad,130000.0,1,2,0,1,1,0,NaN,0,...,81,900,16,81,4,16.000000,1.0,100.0,900,4
9,ID_51f52fdd2,130000.0,1,2,0,1,1,0,NaN,0,...,121,784,16,81,4,16.000000,1.0,100.0,784,4

dataset cotains null/missing values and are already in one-hot (dummy) encoded format

## Feature Description

## Dataset 


- **Target** - the target is an ordinal variable indicating groups of income levels.   
    1 = extreme poverty   
    2 = moderate poverty   
    3 = vulnerable households   
    4 = non vulnerable households  
    
  
- **idhogar** - this is a unique identifier for each household. 
- **parentesco1** - indicates if this person is the head of the household.


- **Other features** :


- items owned like tv, tablet, refrigerator, computer, television etc.   
- Material of wall, floors, roof, sanitory conditions, source of energy for cooking etc.   
- Gender and age distribution of people in the house.  
- Education levels of people in the house.  
- Status of different family members (single, married, divorced etc).     
- Number of people living in the house.  
- House Details (number of bedrooms, rooms, age of house, overcrowding etc).  
- Different types of members in the family (daughter, son, father, mother grandfather etc).    
- Monthly rent payment of different families.    
               

**This data contains 142 total columns. Detailed description of dataset can be found here** [here](https://www.kaggle.com/c/costa-rican-household-poverty-prediction/data)

## Datatypes of the Features

In [3]:
train.info()  #data types of different features

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9557 entries, 0 to 9556
Columns: 143 entries, Id to Target
dtypes: float64(8), int64(130), object(5)
memory usage: 10.4+ MB

this indicates that most of the features are numeric

## Describe the training dataset

In [4]:
train.describe()     #describe the dataset (mean, median, std. deviation)

,v2a1,hacdor,rooms,hacapo,v14a,refrig,v18q,v18q1,r4h1,r4h2,...,SQBescolari,SQBage,SQBhogar_total,SQBedjefe,SQBhogar_nin,SQBovercrowding,SQBdependency,SQBmeaned,agesq,Target
count,2.697000e+03,9557.000000,9557.000000,9557.000000,9557.000000,9557.000000,9557.000000,2215.000000,9557.000000,9557.000000,...,9557.000000,9557.000000,9557.000000,9557.000000,9557.000000,9557.000000,9557.000000,9552.000000,9557.000000,9557.000000
mean,1.652316e+05,0.038087,4.955530,0.023648,0.994768,0.957623,0.231767,1.404063,0.385895,1.559171,...,74.222769,1643.774302,19.132887,53.500262,3.844826,3.249485,3.900409,102.588867,1643.774302,3.302292
std,1.504571e+05,0.191417,1.468381,0.151957,0.072145,0.201459,0.421983,0.763131,0.680779,1.036574,...,76.777549,1741.197050,18.751395,78.445804,6.946296,4.129547,12.511831,93.516890,1741.197050,1.009565
min,0.000000e+00,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.040000,0.000000,0.000000,0.000000,1.000000
25%,8.000000e+04,0.000000,4.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,...,16.000000,289.000000,9.000000,0.000000,0.000000,1.000000,0.111111,36.000000,289.000000,3.000000
50%,1.300000e+05,0.000000,5.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,...,36.000000,961.000000,16.000000,36.000000,1.000000,2.250000,0.444444,81.000000,961.000000,4.000000
75%,2.000000e+05,0.000000,6.000000,0.000000,1.000000,1.000000,0.000000,2.000000,1.000000,2.000000,...,121.000000,2601.000000,25.000000,81.000000,4.000000,4.000000,1.777778,134.560010,2601.000000,4.000000
max,2.353477e+06,1.000000,11.000000,1.000000,1.000000,1.000000,1.000000,6.000000,5.000000,8.000000,...,441.000000,9409.000000,169.000000,441.000000,81.000000,36.000000,64.000000,1369.000000,9409.000000,4.000000

## Checking features having missing values

In [5]:
train.isnull().sum(axis=0).sort_values(ascending = False).head(5)    #find the features having missing values

rez_esc      7928
v18q1        7342
v2a1         6860
meaneduc        5
SQBmeaned       5
dtype: int64

## Different types of Poverty levels

This feature is a target variable

In [2]:
#setting style and the palette
sns.set(style="white",font_scale=1.25)
sns.set_palette("rocket")

#use seaborn library in python for plotting
ax = sns.countplot(data= train, x = 'Target')

#setting the labels on x-axis
plt.xticks([-0.3,0.6,1.8,2.7],['extreme', 'moderate', ' vulnerable', 'non-vulnerable'], rotation = 45)
plt.xlabel("")
plt.ylabel("")

#set the title 
plt.title('Household poverty Levels');

NameError: name 'sns' is not defined

This indicates that the dataset is highly skewed (imbalanced)

## Data Cleaning

##### Correcting the labels (Target Values)
All the members belonging to the same household must have same target label.

## Filling missing Values

In [7]:
# v18q1  : number of tablets household owns
# v18q : indicates if a household owns a tablet

#print("No of missing values for v18q1 are");
train.isnull().sum(axis=0).sort_values(ascending = False)['v18q1']

#groupby v18q1, v18q
train[['v18q', 'v18q1']].astype(str).groupby('v18q').agg('count').unstack('v18q1');

#fill all the missing values with 0
train['v18q1'] = train['v18q1'].fillna(0)

In [8]:
train.isnull().sum(axis=0).sort_values(ascending = False).head(5)

rez_esc        7928
v2a1           6860
meaneduc          5
SQBmeaned         5
abastaguano       0
dtype: int64

In [9]:
#v2a1 : Monthly rent payment
#tipovivi: type of rent payment 

#find rows where monthly rent payment is null 
rent = train.loc[(train.v2a1.isnull()), ['v2a1','tipovivi1', 'tipovivi2', 'tipovivi3', 'tipovivi4', 'tipovivi5']]

# null and tipovivi1 : fully owned, assign it to zero
train.loc[(train.tipovivi1 == 1), 'v2a1'] = 0

In [10]:
train.isnull().sum(axis=0).sort_values(ascending = False).head(5)

rez_esc        7928
v2a1            949
meaneduc          5
SQBmeaned         5
abastaguano       0
dtype: int64

In [11]:
# rez_esc : years behind in school  (no childern or have  done schooling) 
#age: age of people 

train.loc[(train.rez_esc.isnull()), 'age'].describe()

count    7928.000000
mean       38.833249
std        20.989486
min         0.000000
25%        24.000000
50%        38.000000
75%        54.000000
max        97.000000
Name: age, dtype: float64

In [12]:
train.loc[(train.rez_esc.notnull()), 'age'].describe()

count    1629.000000
mean       12.258441
std         3.218325
min         7.000000
25%         9.000000
50%        12.000000
75%        15.000000
max        17.000000
Name: age, dtype: float64

In [13]:
#this means that age above 17 will be zero
train.loc[((train.age >  17) | (train.age < 7)) & (train.rez_esc.isnull()), 'rez_esc'] = 0

#there is one outlier age = 10 is null  (years behind the school )

In [14]:
train.isnull().sum(axis=0).sort_values(ascending = False).head(5)

v2a1           949
meaneduc         5
SQBmeaned        5
rez_esc          1
abastaguano      0
dtype: int64

In [15]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9557 entries, 0 to 9556
Columns: 143 entries, Id to Target
dtypes: float64(8), int64(130), object(5)
memory usage: 10.4+ MB

In [16]:
#correcting object type
train.select_dtypes(include=['object']).head(5)

             Id    idhogar dependency edjefe edjefa
0  ID_279628684  21eb7fcc1         no     10     no
1  ID_f29eb3ddd  0e5d7a658          8     12     no
2  ID_68de51c94  2c7317ea8          8     no     11
3  ID_d671db89c  2b58d945f        yes     11     no
4  ID_d56d6f5f5  2b58d945f        yes     11     no

In [17]:
#ignore id and idhogar, thesese will not be used for analysis

#edjefe, male, 

male_education = train.loc[((train.edjefe == 'no') | (train.edjefe == 'yes')) & (train.male == 1 ) & (train.parentesco1 == 1) , 
          [ 'edjefe','escolari']]
#print(male_education.groupby('edjefe').agg('count').unstack('edjefe'));

#print(" \nReplace YES with 1")
male_education[(male_education.escolari == 1)]['edjefe'].value_counts()

train.loc[(train.edjefe  == 'yes') , 'edjefe'] = 1

train.loc[(train.edjefe  == 'no'), 'edjefe'] = 0

train.edjefe = train.edjefe.astype(float)

In [18]:
#similarly for female
train.loc[(train.edjefa  == 'yes') , 'edjefa'] = 1

train.loc[(train.edjefa  == 'no'), 'edjefa'] = 0

train.edjefa = train.edjefa.astype(float)

In [19]:
#dependency 

train.loc[(train.dependency  == 'yes') , 'dependency'] = 1

train.loc[(train.dependency  == 'no'), 'dependency'] = 0

train.dependency = train.dependency.astype(float)

In [20]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9557 entries, 0 to 9556
Columns: 143 entries, Id to Target
dtypes: float64(11), int64(130), object(2)
memory usage: 10.4+ MB

In [21]:
train.to_csv("train_v1.csv")